#root {
max-width: 1280px;
margin: 0 auto;
padding: 2rem;
text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.hex-color .rgb-color {
    width: 170px;
    height: 15px;
    border: 1px solid #5f6064;
    background: #222329;
}
